#footer {
  font-size: 75%;
}

.btn {
  font-family: 'Press Start 2P', cursive;
}

.game-title {
  font-family: 'Monoton', cursive;
  color: #0066ff;
}

.card-header {
  font-family: 'Press Start 2P', cursive;
}

.card-body {
  /* instructions text  */
}

body {
  background-color: #b3f0ff
}
